 html, body {
       background-color: #fff;
       color: #636b6f;
       font-family: 'Nunito', sans-serif;
       font-weight: 20;
       height: 100vh;
       margin: 0;
    }

    .full-height {
       height: 100vh;
    }


/*Titulo de la página*/
    .navbar-brand {
       margin-left: 2px;

    }

    .card  {
      width: 100%;
      height: 60%;
      color:white;
    }

    .card img {
      height: 60%;
      width:100%;
      border: 0.5px solid;
    }


/*Logo de la página*/
    .logo {
        width:120px;
        float:left;
    }

/*Menú de la página*/
    .navbar-nav {
        background-color: #86B22C;
    }

    #navbarDropdownMenuLink {
        color:white;
    }

    .dropdown-menu {
         background-color: #86B22C;
    }

/*pie de página*/
    .container {
         width: 150%;
         float: left;
         margin-left:-18px;

    }

    .nav {
         background-color:#86B22C;
         width:138%;
    }

    .nav-item a {
        color:white;
    }

    .nav-icon {
        margin-left:10px;
    }

/*Iconos */
    #icono {
        width:30px;
    }

